body {
  background-color: slategrey;
  font-family: monospace;
  font-size: 16px;
}
.container {
  width: 845px;
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

.svg-container {
  border: 1px solid slategrey;
  background-color: white;
}

.controls {
  display: flex;
  width: 200px;
  flex-direction: column;
  margin: 0 20px;
  float: right;
}

label {
  display: block;
}

.original-object {
  fill-opacity: 0.5;
}

.output-wrapper {

}
